body {
  font-family: 'Arial', sans-serif;
  /* Cambio de fuente de letra */
  background-color: white;
  display: flex;
}

/* Main agregado pra mostrar varios post en columnas */
main {
  margin-top: 90px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 40px;
}


/* Diseño de navbar agregado */
.navbar {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid rgb(210, 210, 210);

}
/* Diseño de navbar agregado */

/* Contenedor logo instagram */
#logoContainer {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.logo {
  height: 40px;
}

/* input buscar */
.search {
  width: 200px;
  padding: 6px 12px;
  border-radius: 8px;
  border: 1px solid #dbdbdb;
  background-color: #ffffff;
  font-size: 14px;
  outline: none;
  margin-left: 30px;
}

/* contenedor botones sign in y sign up */
#loginContainer {
  padding-right: 30px;
}

#signIn {
  background-color: #4150F7;
  font-size: 15px;
  color: white;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 6px;
  border: 1px solid transparent;
}

#signIn:hover {
  color: #335469;
}

#signUp {
  color: #3141D2;
  font-size: 15px;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 6px;
  border: 1px solid transparent;
  background-color: #3141d200;
}

#signUp:hover {
  color: grey;
}


/* post modificado */
.post {
  width: 400px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.post-user {
  display: flex;
  align-items: center;
  gap: 8px;
}

.post-user i {
  font-size: 24px;
  color: black;
}

.post-imagen img {
  width: 100%;
  display: block;
}

.post-icons {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding: 12px 14px;
  align-items: center;
}

.post-icons-left {
  margin-right: 12px;
}

.post-icons i {
  cursor: pointer;
  font-size: 20px;
}

.post-body {
  padding: 0 17px 10px;
}

.post-body p {
  margin: 5px 0;
}


/* clases creadas por mi */
.date {
  color: #8e8e8e;
  font-size: 14px;
  margin-top: 6px;
}

.likes {
  font-size: 14px;
  color: #88869D;
}

.description {
  font-size: 14px;
  line-height: 1.4;
}

.description .username {
  color: #292912;
}

.description .text {
  color: #88869D;
}